<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка пошуку корисностей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/find" style="font-size: 15px">Пошук Дисциплін</a>
        <a class="navbar-brand" href="/findopds" style="font-size: 15px">Пошук Корисності</a>
        <img src="img/emblam.png" alt="emblema" style="width: 30px;height: 30px; margin-left:auto">
    </nav>


</div>
<div class="divclass" >
    <h3 class="header1">Пошук оцінок</h3>
    <div class="inline" style="width: 100%;">
        <p class="range-field" style="width: 100%">
            <input type="range" id="slider"/>
            <label for="slider">Виберіть рік випуску</label>
        </p>
    </div>
    <div class="input-field col s6">
        <div style="width: auto; height: auto">
            <label>За спеціальністю</label>
            <select class="browser-default" id="specialize">
                <option value="" disabled selected>Вибір спеціальності</option>
                <option value="122">122 Комп’ютерні науки</option>
                <option value="125">125 Кібербезпека</option>
                <option value="126">126 Інформаційні системи та технології</option>
                <option value="172">172 Телекомунікації та радіотехніка</option>
                <option value="253">253 Військове управління</option>
                <option value="255">255 Озброєння та військова техніка</option>
            </select>
        </div>
    </div>
    <div style="margin-bottom: 10px">
        <button class="btn waves-effect waves-light" id="button" style="size: 30px">
            Пошук
        </button>
        <button class="btn waves-effect waves-light" id="save" style="size: 30px">
            Зберегти
        </button>
        <p id="divLInk"></p>

    </div>
    <div>
        <table  class="table table-bordered" style="align-items: center">
            <thead>
            <tr>
                <th>Назва дисципліни</th>
                <th>Середня оцінка Офіцерів</th>
                <th>Середня оцінка Командирів</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="font/find.js"></script>
</body>
</html>