<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="headdd">
    <header class="link">
        <a href="/find">Пошук оцінок</a>
        <a href="/findopds">Пошук корисності</a>
    </header>
</div>
<div class="divclass">
    <h3 class="header1">Пошук Офіцерів</h3>
    <div class="inline">
        <p class="range-field">
            <input type="range" id="slider"/>
            <label for="slider">Виберіть рік випуску</label>
        </p>
    </div>
    <div class="input-field col s6">
        <div style="width: auto; height: auto">
            <label>За спеціальністю</label>
            <select class="browser-default" id="specialize">
                <option value="" disabled selected>Вибір спеціальності</option>
                <option value="121">121</option>
                <option value="221">221</option>
                <option value="226">226</option>
            </select>
        </div>
    </div>
    <div style="margin-bottom: 10px">
        <button class="btn waves-effect waves-light" id="button">
            Пошук
        </button>
    </div>
    <div>
        <table  class="table table-bordered" style="align-items: center">
            <thead>
            <tr>
                <th rowspan="2">Дисципліна</th>
                <th colspan="3">Корисності</th>
                <th colspan="7">Можливі недоліки</th>
            </tr>
            <tr>
                <th>А1</th>
                <th>А2</th>
                <th>А3</th>
                <th>Б1</th>
                <th>Б2</th>
                <th>Б3</th>
                <th>Б4</th>
                <th>Б5</th>
                <th>Б6</th>
                <th>Відсоток не вибраних недоліків</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="font/findopds.js"></script>
</body>
</html>
</body>
</html>