<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div>
    <header class="link">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/autorization" style="font-size: 15px">Вхід</a>
            <a class="navbar-brand" href="/registration" style="font-size: 15px">Реестрація</a>
        </nav>
    </header>
</div>
<div class="icon">
    <img src="img/emblam.png" alt="emblam">
</div>

{{#if error}}
    <div class="aut">
        {{message}}
    </div>
{{/if}}


</div>
<div class="aut" style="margin-top: -10px">
    <form action="/registration" method="post">
        <h5>Реестрація</h5>
        <input placeholder="Ім'я та Прізвище"  type="text"  name="name">
        <input placeholder="Військове звання"  type="text" name="rank" >
        <input placeholder="Посада" type="text" name="posada" >
        <input placeholder="Військова частина" type="text" name="vch" >
        <input id="password" type="password"   name="password" placeholder="Пароль">
        <label id = 'lenghtPassword' style="color: red"></label>
        <input id="password1" type="password"   name="password1" placeholder="Повторний пароль">
        <label id = 'errorMessage' style="color: red"></label>
        <p>
            <label>
                <input name="comander"  value="0" type="checkbox" aria-label="Checkbox for following text input">
                <span>Безпосередній командир</span>
            </label>
        </p>
        <button class="btn waves-effect waves-light" type="submit" id="button">Зарееструватись</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="font/registration.js"></script>
</body>
</html>