<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div class="headdd">
    <header class="link">
        <img src="img/emblam.png" alt="emblema" style="width: 20px;height: 20px">  {{data}}
        <a href="/find">Пошук</a>


    </header>
</div>
<div class="header"><h3>ВІДГУК НА ВИПУСКНИКА </h3></div>
<div class="divclass">
    <h3 class="header1">Загальні відомості</h3>
    <div class="input-field col s6">
        <div style="width: auto; height: auto">
            <label>Звання</label>
            <select class="browser-default" id="zvanije">
                <option value="" disabled selected>Вибір Звання</option>
                <option value="мол.Лейтенант">мол.Лейтенант</option>
                <option value="Лейтенант">Лейтенант</option>
                <option value="стр.Лейтенант">стр.Лейтенант</option>
            </select>
        </div>
    </div>
    <div class="input-field col s6">
        <input id="FLP" type="text" name = "response">
        <label for="FLP">Прізвище, ім’я, по батькові</label>
    </div>

    <div class="row" style="padding: 0 20px">
        <div class="input-field col ">
            <div style="width: auto; height: auto">
                <label>Закінчив (найменування ВВНЗ або ВНП ЗВО)</label>
                <select class="browser-default" id="institute">
                    <option value="" disabled selected>Вибір вузу</option>
                    <option value="1">ВІТІ</option>
                </select>
            </div>
        </div>
        <div class="input-field col ">
            <input id="year" type="text" name = "response">
            <label for="year">у (році)</label>
        </div>
    </div>
    <div class="input-field col s6">
        <div style="width: auto; height: auto">
            <label>Факультет</label>
            <select class="browser-default" id="facultet">
                <option value="" disabled selected >Вибір факультету</option>
                <option value="Телекомунікації">Телекомунікації</option>
                <option value="Інформаційні системи">Інформаційні системи</option>
                <option value="Військове упарвління">Військове упарвління</option>
            </select>
        </div>
    </div>
    <div class="input-field col s6">
        <div style="width: auto; height: auto">
            <label>За спеціальністю</label>
            <select class="browser-default" id="specialize">
                <option value="" disabled selected>Вибір спеціальності</option>
                <option value="121">121</option>
                <option value="221">221</option>
                <option value="226">226</option>
            </select>
        </div>
    </div>
    <div class="input-field col s6">
        <input id="work" type="text" name = "response">
        <label for="work">Проходить службу (оперативне командування, військова частина)</label>
    </div>
    <div class="input-field col s6">
        <input id="posada" type="text" name = "response">
        <label for="posada">На посаді </label>
    </div>
    <div class="input-field col s6">
        <input id="vidpovidnist" type="text" name = "response">
        <label for="vidpovidnist">Відповідність спеціальності випускника займаній посаді (відповідає, не
            відповідає)</label>
    </div>


</div>

<div class="divclass">
    <h3 class="header1">Самооцінка військово-професійних якостей офіцером-випускником за результатами службової діяльності</h3>
    <table class="table table-bordered" style="align-items: center">
        <thead style="text-align: center">
        <tr>
            <th scope="col" rowspan="2">№</th>
            <th scope="col" rowspan="2">Професійні важливі якості офіцера</th>
            <th scope="col" colspan="5">Оцінка в балах</th>
        </tr>
        <tr>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">“0”<br>
                не можу <br> оцінити
            </th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr>
            <th scope="row" rowspan="4">1</th>
            <td colspan="6"><h6>Правові (знання та виконання)</h6></td>
        </tr>
        <tr>
            <td>а) основ кримінального кодексу щодо військових злочинів та відповідальності за них</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>б) основ міжнародного гуманітарного права</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>в) Статутів Збройних Сил України</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>


        <tr>
            <th scope="row" rowspan="4">2</th>
            <td colspan="6"><h6>Організаційно-управлінські (здатність і готовність)</h6></td>
        </tr>
        <tr>
            <td>а) підтримувати підрозділ у стані постійної бойової готовності</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>б) планувати, організовувати та контролювати повсякденну діяльність підрозділу</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>в) управляти повсякденною діяльністю підрозділу через підпорядкований сержантський склад</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>


        <tr>
            <th scope="row" rowspan="4">3</th>
            <td colspan="6"><h6>Загальновійськові, тактичні (здатність)</h6></td>
        </tr>
        <tr>
            <td>а) здійснювати підготовку та управляти підрозділом під час виконання бойових (спеціальних) завдань,
                проведення навчань, занять
            </td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>б) приймати обґрунтовані рішення в складній обстановці під час виконання бойових (спеціальних) завдань,
                проведення навчань, занять
            </td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>в) вести (відпрацьовувати) бойові (звітні) документи</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>


        <tr>
            <th scope="row" rowspan="9">4</th>
            <td colspan="6"><h6>Тактико-спеціальні (здатність)</h6></td>
        </tr>
        <tr>
            <td>а) організовувати і вести розвідку під час виконання бойових (спеціальних) завдань, проведення навчань,
                занять
            </td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>б) організовувати і підтримувати стійкий зв'язок під час під час виконання бойових (спеціальних)
                завдань, проведення навчань, занять
            </td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>в) здійснювати заходи з інженерної підготовки підрозділу під час підготовки та в ході виконання бойових
                (спеціальних) завдань, проведення навчань, занять
            </td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>г) здійснювати РХБ захист дій підрозділу під час під час виконання бойових (спеціальних) завдань,
                проведення навчань, занять
            </td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>д) здійснювати заходи з топогеодезичного забезпечення дій підрозділу під час під час виконання бойових
                (спеціальних) завдань, проведення навчань, занять
            </td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>є) організовувати заходи ППО та маскування підрозділу</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>е) здійснювати заходи з медичного забезпечення дій підрозділу під час під час виконання бойових
                (спеціальних) завдань, проведення навчань, занять
            </td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>ж) організовувати взаємодію з іншими підрозділами</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>


        <tr>
            <th scope="row" rowspan="3">5</th>
            <td colspan="6"><h6>Військово-технічні (знання та уміння)</h6></td>
        </tr>
        <tr>
            <td>а) володіння штатним озброєнням та військовою технікою</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>б) організовувати експлуатацію озброєння та військової техніки (обслуговування та ремонт) під час під
                час виконання бойових (спеціальних) завдань, проведення навчань, занять
            </td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>


        <tr>
            <th scope="row" rowspan="4">6</th>
            <td colspan="6"><h6>Виховні, методичні (здатність)</h6></td>
        </tr>
        <tr>
            <td>а) виховувати у підлеглих патріотизм та любов до Батьківщини</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>б) виховувати особовий склад та зміцнювати військову дисципліну у підпорядкованому підрозділі</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>в) проводити навчальні заняття з особовим складом підпорядкованого підрозділу з дотриманням заходів
                безпеки
            </td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>


        <tr>
            <th scope="row" rowspan="5">7</th>
            <td colspan="6"><h6>Лідерські якості</h6></td>
        </tr>
        <tr>
            <td>а) здатність до мотивації особового складу на успішне виконання завдання</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>б) вміння працювати в команді</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>в) особиста дисциплінованість, стресостійкість та витривалість</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        <tr>
            <td>г) швидко реагувати на ризькі зміни в бойовій (навчальній) обстановці</td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="2" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="3" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="4" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="5" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td><p>
                <label>
                    <input name="checkboxfirth" value="0" type="checkbox" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
        </tr>
        </tbody>
    </table>

</div>


<div class="divclass" >
    <h3 class="header1">Система оцінювання</h3><br>
    <div style="border: 1px solid black;">
        <div class="option">
            Оцінка викладання навчальних дисциплін, запропоновано визначати за двома групами показників – корисністю дисциплін (А) та можливими недоліками їх викладання (Б).
        </div>
        <h6 style="text-indent: 10px;">А1</h6>
        <div class="option">навчальна дисципліна максимально корисна;</div>
        <h6 style="text-indent: 10px;">А2</h6>
        <div class="option">навчальна дисципліна достатньо корисна;</div>
        <h6 style="text-indent: 10px;">А3</h6>
        <div class="option">навчальна дисципліна не чинить жодного впливу на формуванню відповідних компетентностей та професійно важливих якостей;</div>
        <h6 style="text-indent: 10px;">Б1</h6>
        <div class="option">Недостатньо часу на формування компетентності в межах відповідної навчальної дисципліни;</div>
        <h6 style="text-indent: 10px;">Б2</h6>
        <div class="option">недостатньо часу на теоретичні заняття з цієї навчальної дисципліни;</div>
        <h6 style="text-indent: 10px;">Б3</h6>
        <div class="option">недостатньо часу на  практичні заняття з цієї навчальної дисципліни;</div>
        <h6 style="text-indent: 10px;">Б4</h6>
        <div class="option">недосконала (або відсутня) відповідна навчально-тренувальна база;</div>
        <h6 style="text-indent: 10px;">Б5</h6>
        <div class="option">низький рівень викладання цієї навчальної дисципліни;</div>
        <h6 style="text-indent: 10px;">Б6</h6>
        <div class="option">навчальна дисципліна, викладання якої мало би сприяти формуванню зазначеної компетентності, взагалі не включена в освітню програму.</div>

    </div>
    <br>
    <h3 class="header1">Перелік компонент освітньо-професійної програми (навчальні дисципліни), які формують
        військово-професійні та військово-спеціальні компетентності випускника</h3><br>
    <table class="table table-bordered" style="align-items: center">
        <thead style="text-align: center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Перелік навчальних дисциплін</th>
            <th scope="col">Кількість кредитів</th>
            <th scope="col" colspan="3">Корисності</th>
            <th scope="col" colspan="6">Можливі недоліки</th>
        </tr>
        <tr>
            <th scope="col" colspan="2">1</th>
            <th scope="col">2</th>
            <th scope="col">A1</th>
            <th scope="col">A2</th>
            <th scope="col">A3</th>
            <th scope="col">Б1</th>
            <th scope="col">Б2</th>
            <th scope="col">Б3</th>
            <th scope="col">Б4</th>
            <th scope="col">Б5</th>
            <th scope="col">Б6</th>
        </tr>
        <tr>
            <th colspan="12"><h6>Перелік навчальних дисциплін військово-професійного спрямування
                програми базової підготовки
            </h6></th>
        </tr>
        <tbody >
        <tr id="1">
            <td>1</td>
            <td>Морально-психологічне забезпечення
                підготовки та застосування Збройних
                Сил України
            </td>
            <td><div class="credit">2</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="1" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="1" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="1" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="1" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="1" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="1" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="1" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="1" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="1" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="2">
            <td>2</td>
            <td>3агальна тактика
            </td>
            <td><div class="credit">5</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="2" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="2" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="2" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="2" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="2" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="2" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="2" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="2" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="2" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="3">
            <td>3</td>
            <td>Основи військового управління (у тому
                числі штабні процедури НАТО)
            </td>
            <td><div class="credit">4</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="3" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="3" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="3" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="3" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="3" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="3" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="3" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="3" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="3" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="4">
            <td>4</td>
            <td>Управління повсякденною діяльністю
                підрозділів (у тому числі охорона
                державної таємниці, безпека
                життєдіяльності, основи охорони праці,
                безпека військової діяльності)
            </td>
            <td><div class="credit">4</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="4" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="4" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="4" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="4" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="4" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="4" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="4" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="4" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="4" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="5">
            <td>5</td>
            <td>Радіаційний, хімічний, біологічний
                захист підрозділів   (у тому числі
                екологія)

            </td>
            <td><div class="credit">3</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="5" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="5" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="5" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="5" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="5" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="5" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="5" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="5" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="5" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="6">
            <td>6</td>
            <td>Військова топографія
            </td>
            <td><div class="credit">3</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="6" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="6" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="6" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="6" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="6" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="6" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="6" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="6" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="6" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="7">
            <td>7</td>
            <td>Інженерна підготовка
            </td>
            <td><div class="credit">3</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="7" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="7"  class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="7" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="7" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="7" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="7" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="7" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="7" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="7" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="8">
            <td>8</td>
            <td>Організація військового зв’язку,
            </td>
            <td><div class="credit">2</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="8" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="8" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="8" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="8" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="8" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="8" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="8" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="8" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="8" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="9">
            <td>9</td>
            <td>Бойова система виживання воїнів (у
                тому числі тактична медицина)

            </td>
            <td><div class="credit">2</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="9" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="9" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="9" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="9" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="9" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="9" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="9" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="9" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="9" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="10">
            <td>10</td>
            <td>Статути Збройних Сил України та їх
                практичне застосування (у тому числі
                стройова підготовка)
            </td>
            <td><div class="credit">3</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="10" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox"id="10" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="10" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="10" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="10" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="10" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="10" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="10" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="10" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="11">
            <td>11</td>
            <td>Стрілецька зброя та вогнева підготовка
            </td>
            <td><div class="credit">3</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="11" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="11" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="11" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="11" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="11" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="11" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="11" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="11" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="11" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="12">
            <td>12</td>
            <td>Фізичне виховання та спеціальна фізична
                підготовка
            </td>
            <td><div class="credit">9</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="12" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="12" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="12" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="12" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="12" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="12" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="12" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="12" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="12" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="13">
            <td>13</td>
            <td>Іноземна мова
                (загальний, загальновійськовий та спеціальний курс)
            </td>
            <td><div class="credit">20</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="13" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="13" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="13" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="13" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="13" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="13" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="13" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="13" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="13" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="14">
            <td>14</td>
            <td>Правознавство (у тому числі основи військового законодавства та міжнародне гуманітарне право, морське право для спеціальностей підготовки військових фахівців морського профілю)
            </td>
            <td><div class="credit">2,5</div></td>
            <td name="td_disciplina" class="tdcheck"  ><p>
                <label>
                    <input type="checkbox" id="14" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span ></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="14" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="14" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="14" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="14" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="14" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="14" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="14" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="14" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>
        <tr id="15">
            <td>15</td>
            <td>Військова педагогіка та психологія (у тому числі лідерство)
            </td>
            <td><div class="credit">2</div></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="15" class="koris" value="А1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="15" class="koris" value="А2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="15" class="koris" value="А3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="15" class="nedoliki" value="Б1" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="15" class="nedoliki" value="Б2" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="15" class="nedoliki" value="Б3" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox"  id="15" class="nedoliki" value="Б4" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="15" class="nedoliki" value="Б5" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>
            <td name="td_disciplina" class="tdcheck"><p>
                <label>
                    <input type="checkbox" id="15" class="nedoliki" value="Б6" aria-label="Checkbox for following text input">
                    <span></span>
                </label>
            </p></td>

        </tr>

        </tbody>
        </thead>
    </table>
</div>


<div class="divclass">
    <h3 class="header1">Рішення Офіцера</h3>
    <div class="input-field col s6">
        <input id="oficerResponse" type="text" name="divResponse">
        <label for="oficerResponse">Рішення офіцера (посада, військове звання, прізвище,
            ініціали)</label>
    </div>

</div>
<div class="savebutton">
    <button type="button" class="btn btn-light" id="buttonOficer">Надіслати</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="font/index.js"></script>
</body>
</html>