<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка заяви від командира</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="header">
    <header class="link">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <ul>
                <li><a class="navbar-brand" href="/find" style="font-size: 15px">Пошук Дисциплін</a></li>
                <li><a class="navbar-brand" href="/findopds" style="font-size: 15px">Пошук Корисності</a></li>
            </ul>
            <img src="img/emblam.png" alt="emblema" style="width: 30px;height: 30px;">
            <div id="time" style="margin-left: auto"></div>
        </nav>
    </header>
</div>

<div class="header"><h3>ВІДГУК НА ВИПУСКНИКА </h3></div>

<div class="divclass" id="generalResponse">

    <h3 class="header1">Загальні відомості</h3>
    <div class="input-field">
        <div style="width: auto; height: auto">
            <label>Звання</label>
            <select class="browser-default" id="zvanije">
                <option value="" disabled selected>Вибір Звання</option>
                <option value="мол.Лейтенант">мол.Лейтенант</option>
                <option value="Лейтенант">Лейтенант</option>
                <option value="стр.Лейтенант">стр.Лейтенант</option>
            </select>
        </div>
    </div>

    <div class="input-field">
        <input id="FLP" type="text" name="response">
        <label for="FLP">Прізвище, ім’я, по батькові</label>
    </div>
    <div class="input-field">
        <div style="width: auto; height: auto">
            <label>Закінчив (найменування ВВНЗ або ВНП ЗВО)</label>
            <select class="browser-default" id="institute">
                <option value="" disabled selected>Вибір вузу</option>
                <option value="1">ВІТІ</option>
            </select>
        </div>
    </div>
    <div class="input-field">
        <input id="year" type="text" name="response">
        <label for="year">у (році)</label>
    </div>
    <div class="input-field">
        <div style="width: auto; height: auto">
            <label>Факультет</label>
            <select class="browser-default" id="facultet">
                <option value="" disabled selected>Вибір факультету</option>
                <option value="Телекомунікації">Телекомунікації</option>
                <option value="Інформаційні системи">Інформаційні системи</option>
                <option value="Військове упарвління">Військове упарвління</option>
            </select>
        </div>

    </div>
    <div class="input-field">
        <div style="width: auto; height: auto">
            <label>За спеціальністю</label>
            <select class="browser-default" id="specialize">
                <option value="" disabled selected>Вибір спеціальності</option>
                <option value="122">122 Комп’ютерні науки</option>
                <option value="125">125 Кібербезпека</option>
                <option value="126">126 Інформаційні системи та технології</option>
                <option value="172">172 Телекомунікації та радіотехніка</option>
                <option value="253">253 Військове управління</option>
                <option value="255">255 Озброєння та військова техніка</option>
            </select>
        </div>
    </div>
    <div class="input-field">
        <input id="work" type="text" name="response">
        <label for="work">Проходить службу</label>
    </div>
    <div class="input-field">
        <input id="posada" type="text" name="response">
        <label for="posada">На посаді </label>
    </div>
    <div class="input-field">
        <input id="vidpovidnist" type="text" name="response">
        <label for="vidpovidnist">Відповідність займаній посаді</label>
    </div>
    <div class="savebutton">
        <button type="button" class="btn btn-light" id="next" disabled>Далі</button>
    </div>
</div>


<div class="divclass" id="instruction" style="display: none">
    <h3 class="header1">Система оцінювання</h3>
    <div style="border: 1px solid black;" style="margin: 20px 0px">
        <div class="option">
            Оцінювання якості виконання службових (бойових) функцій за відповідною посадою (ВОС), результати
            індивідуальної та колективної підготовки здійснюється у 4-х бальній шкалі безпосереднім командиром, який
            готує відгук.
        </div>
        <div class="option">Результати щорічного оцінювання шляхом внесення позначки “V” у відповідну строку.</div>
        <h6 style="text-indent: 10px;">Відмінно</h6>
        <div class="option">випускник ВВНЗ (ВНП ЗВО) здатний і готовий самостійно та в повному обсязі виконувати
            обов’язки (службові (бойові) функцій) за посадовим призначенням, професійно-важливі якості випускника
            сформовано на високому рівні. Спроможний творчо вирішувати типові й нетипові завдання у звичайних та
            екстремальних умовах, схильний до самоудосконалення.
        </div>
        <h6 style="text-indent: 10px;">Незадовільно</h6>
        <div class="option">випускник ВВНЗ (ВНП ЗВО) при виконанні обов’язків (службових (бойових) функцій) за посадовим
            призначенням припускається суттєвих помилок, які самостійно виправити не може, професійно-важливі якості
            випускника сформовано на низькому рівні. Випускник потребує постійного контролю та допомоги старших
            командирів і начальників, до самоудосконалення не схильний.
        </div>
        <h6 style="text-indent: 10px;">Оцінки "4" "3"</h6>
        <div class="option">як проміжні по відношенню до оцінок "відмінно" та "незадовільно", вирізняються за
            показниками від балу "5" проявом меншої самостійності та творчості випускника при виконанні ним посадових
            обов’язків чи виконанні їх не в повному обсязі, що, в цілому, забезпечує досягнення кінцевого результату
            професійної діяльності.
        </div>
        <h6 style="text-indent: 10px;">Неоцінена </h6>
        <div class="option">ставиться у випадку, коли командир утруднюється оцінити рівень виконанні обов’язків
            (службових (бойових) функцій) за посадовим призначення внаслідок певних обставин.
        </div>
    </div>
    <div class="savebutton">
        <button type="button" class="btn btn-light" id="back1">Назад</button>
        <button type="button" class="btn btn-light" id="next1">Далі</button>
    </div>
</div>


<div class="divclass" id="AllTableBall" style="display: none">
    <br>
    <h3 class="header1">Оцінка військово-професійних якостей офіцера-випускника за результатами службової
        діяльності</h3>
    <div class="table-responsive">
        <table class="table table-bordered" style="align-items: center">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Перелік військово-професійних якостей
                    офіцера-випускника
                </th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
                <th scope="col">0</th>
            </tr>
            </thead>
            <tbody class="tbody">
            <tr>
                <th scope="row" rowspan="4">1</th>
                <td colspan="6"><h6>Правові (знання та виконання)</h6></td>

            </tr>
            <tr>

                <td>а) основ кримінального кодексу щодо військових злочинів та відповідальності за них</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>
                <td>б) основ міжнародного гуманітарного права</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>в) Статутів Збройних Сил України</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>


            <tr>
                <th scope="row" rowspan="4">2</th>
                <td colspan="6"><h6>Організаційно-управлінські (здатність і готовність)</h6></td>
            </tr>
            <tr>

                <td>а) підтримувати підрозділ у стані постійної бойової готовності</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>б) планувати, організовувати та контролювати повсякденну діяльність підрозділу</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>в) управляти повсякденною діяльністю підрозділу через підпорядкований сержантський склад</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>


            <tr>
                <th scope="row" rowspan="4">3</th>
                <td colspan="6"><h6>Загальновійськові, тактичні (здатність)</h6></td>
            </tr>
            <tr>

                <td>а) здійснювати підготовку та управляти підрозділом під час виконання бойових (спеціальних) завдань,
                    проведення навчань, занять
                </td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>б) приймати обґрунтовані рішення в складній обстановці під час виконання бойових (спеціальних) завдань,
                    проведення навчань, занять
                </td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>в) вести (відпрацьовувати) бойові (звітні) документи</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>


            <tr>
                <th scope="row" rowspan="9">4</th>
                <td colspan="6"><h6>Тактико-спеціальні (здатність)</h6></td>
            </tr>
            <tr>

                <td>а) організовувати і вести розвідку під час виконання бойових (спеціальних) завдань, проведення навчань,
                    занять
                </td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>б) організовувати і підтримувати стійкий зв'язок під час під час виконання бойових (спеціальних)
                    завдань, проведення навчань, занять
                </td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>в) здійснювати заходи з інженерної підготовки підрозділу під час підготовки та в ході виконання бойових
                    (спеціальних) завдань, проведення навчань, занять
                </td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>г) здійснювати РХБ захист дій підрозділу під час під час виконання бойових (спеціальних) завдань,
                    проведення навчань, занять
                </td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>д) здійснювати заходи з топогеодезичного забезпечення дій підрозділу під час під час виконання бойових
                    (спеціальних) завдань, проведення навчань, занять
                </td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>є) організовувати заходи ППО та маскування підрозділу</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>е) здійснювати заходи з медичного забезпечення дій підрозділу під час під час виконання бойових
                    (спеціальних) завдань, проведення навчань, занять
                </td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>ж) організовувати взаємодію з іншими підрозділами</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>


            <tr>
                <th scope="row" rowspan="3">5</th>
                <td colspan="6"><h6>Військово-технічні (знання та уміння)</h6></td>
            </tr>
            <tr>

                <td>а) володіння штатним озброєнням та військовою технікою</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>б) б) організовувати експлуатацію озброєння та військової техніки (обслуговування та ремонт) під час під
                    час виконання бойових (спеціальних) завдань, проведення навчань, занять
                </td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>


            <tr>
                <th scope="row" rowspan="4">6</th>
                <td colspan="6"><h6>Виховні, методичні (здатність)</h6></td>
            </tr>
            <tr>

                <td>а) виховувати у підлеглих патріотизм та любов до Батьківщини</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>б) виховувати особовий склад та зміцнювати військову дисципліну у підпорядкованому підрозділі</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>в) проводити навчальні заняття з особовим складом підпорядкованого підрозділу з дотриманням заходів
                    безпеки
                </td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>


            <tr>
                <th scope="row" rowspan="5">7</th>
                <td colspan="6"><h6>Лідерські якості</h6></td>
            </tr>
            <tr>

                <td>а) здатність до мотивації особового складу на успішне виконання завдання</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>б) вміння працювати в команді</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>в) особиста дисциплінованість, стресостійкість та витривалість</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            <tr>

                <td>г) швидко реагувати на ризькі зміни в бойовій (навчальній) обстановці</td>
                <td><p>
                    <label>
                        <input name="ballcom" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td><p>
                    <label>
                        <input name="ballcom" value="0" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="savebutton">
        <button type="button" class="btn btn-light" id="back2">Назад</button>
        <button type="button" class="btn btn-light" id="next2" disabled>Далі</button>
    </div>
</div>

<div class="divclass" id="response" style="display: none">
    <h3 class="header1">Рішення безпосереднього начальника, командира військової частини та ознайомлення випускника</h3>
    <div class="" style="margin-top: 5%">
        <input id="comanderResponse" type="text" name="divResponse">
        <label for="comander">Безпосередній
            командир
        </label>
    </div>
    <div class="" style="margin-top: 5%">
        <input id="comandervhResponse" type="text" name="divResponse">
        <label for="comandervhResponse">Загальне рішення
        </label>
    </div>
    <div class="savebutton">
        <button type="button" class="btn btn-light" id="back3">Назад</button>
        <button type="button" class="btn btn-light" id="next3" disabled>Далі</button>
    </div>
</div>


<div id="all" style="display: none">

    <div class="divclass">
        <h3 class="header1">Загальні відомості</h3>
        <div class="">
            <input id="ckeckzvanije" type="text" name="checkresponse" value="" readonly>
            <label for="ckeckzvanijezvanije">Військове звання</label>
        </div>
        <div class="">
            <input id="ckeckFLP" type="text" name="checkresponse" value="" readonly>
            <label for="ckeckFLP">Прізвище, ім’я, по батькові</label>
        </div>

        <div class="row" style="padding: 0 20px">
            <div class="">
                <input id="ckeckinstitute" type="text" name="checkresponse" value="" readonly>
                <label for="ckeckinstitute">Закінчив (найменування ВВНЗ або ВНП ЗВО)</label>
            </div>
            <div class="">
                <input id="ckeckyear" type="text" name="checkresponse" value="" readonly>
                <label for="ckeckyear">у (році)</label>
            </div>
        </div>
        <div class="">
            <input id="ckeckfacultet" type="text" name="checkresponse" value="" readonly>
            <label for="ckeckfacultet">Факультет</label>
        </div>
        <div class="">
            <input id="ckeckspecialize" type="text" name="checkresponse" value="" readonly>
            <label for="ckeckspecialize">За спеціальністю</label>
        </div>
        <div class="">
            <input id="ckeckwork" type="text" name="checkresponse" value="" readonly>
            <label for="ckeckwork">Проходить службу (оперативне командування, військова частина)</label>
        </div>
        <div class="">
            <input id="ckeckposada" type="text" name="checkresponse" value="" readonly>
            <label for="ckeckposada">На посаді </label>
        </div>
        <div class="">
            <input id="ckeckvidpovidnist" type="text" name="checkresponse" value="" readonly>
            <label for="ckeckvidpovidnist">Відповідність спеціальності випускника займаній посаді (відповідає, не
                відповідає)</label>
        </div>
        <div class="savebutton">
            <button type="button" class="btn btn-light" id="checngeresponse">Змінити</button>
        </div>
    </div>
    <div class="table-responsive divclass">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Назва дисципліни</th>
                <th scope="col">Оцінка</th>
            </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>

        <div class="savebutton">
            <button type="button" class="btn btn-light" id="changetable">Змінити</button>
        </div>
    </div>


    <div class="divclass">
        <div style="margin-top: 5%">
            <input id="checkcomanderResponse" type="text" name="ckeckdivResponse">
            <label for="comander">Безпосередній
                командир (посада, військове звання, прізвище, ініціали)
            </label>
        </div>
        <div class="">
            <input id="ckeckcomandervhResponse" type="text" name="ckeckdivResponse">
            <label for="comandervhResponse">З відгуком згоден:
                Командир військової частини (військове звання, прізвище, ініціали)
            </label>
        </div>
        <div class="savebutton">
            <button type="button" class="btn btn-light" id="changelast">Змінити</button>
        </div>
    </div>
    <div class="savebutton">
        <button type="button" class="btn btn-light" id="button">Надіслати</button>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="font/index.js"></script>
<script src="font/Display.js"></script>
</body>
</html>